# dependencies
dashboard/node_modules
dashboard/.pnp
.pnp.js

# testing
dashboard/coverage

# production
dashboard/build

# misc
dashboard/.DS_Store
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*

# reference repo gitignore

light-bootstrap-dashboard-react-master/package-lock.json
light-bootstrap-dashboard-react-master/node_modules/
light-bootstrap-dashboard-react-master/.eslintcache

